.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    border: 1px solid gray;
    width: 500px;
    padding: 20px 30px;
}
#form{
    margin: 1em;
    height: 30px;
    width: 20em;
    box-sizing: border-box;
}

#button{
    color: white;
    background-color: #2565ee;
    border: none;
    margin: 1em;
    height: 30px;
    width: 20em;
    border-radius: 0.5em;
}