html{
    background-color: gray;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #ebe9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 

}

.box{
    border-radius: 5%;
    width: 60%;
    height: 90%;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center; 
}

.box_row{
    border-radius: 5%;
    width: 50%;
    height: 100%;
    background: #ffd89c;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center; 
}

.box_row2{
    border-radius: 5%;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center; 
}

.cat{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    margin: auto;
    margin-bottom: 5%;
    display: block;
    align-items: center;
    max-width: 80%;
}

input{
    border: 1px solid Black;
    border-radius: 10%;
    padding: 2%;
    font-family: 'Didot';
    font-size: 150%;
    -webkit-border-radius: 20px;
    text-align:center;
}

.cadastro{
    font-family: 'Didot';
    font-size: 120%;
}

.margem{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    font-family: 'Didot';
    font-size: 120%;
}



